@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  font-family: 'Merriweather', serif;
}

form {
  max-width: 51%;
  margin: 0 auto;
}

hr {
  max-width: 51%;
  border-top: 1px dotted black;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

button {
  border: 1px solid #888;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: 'Merriweather', serif;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  padding-top: 0.5rem;
  font-size: 2.5rem;
}

table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

table {
  width: 51%;
  margin: 0 auto;
}

td,
th {
  padding: 0.5rem;
}

textarea {
  height: 7rem;
}

.error {
  max-width: 51%;
  margin: 0 auto;
}

.error a {
  display: block;
  text-align: center;
}

.error p {
  text-align: center;
}

.nosign {
  text-align: center;
}

.field label {
  margin: 0.5rem 1rem;
}

.field input,
.field textarea {
  flex-grow: 2;
  max-width: 800px;
}

.field--invalid input,
.field--invalid textarea {
  background-color: #fbb;
}

.hide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  text-align: center;
  padding: 2rem;
}
